spring:
  ai:
    mcp:
      server:
        enabled: false
  main:
    web-application-type: servlet

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.hibernate: INFO
    com.buildware.kbase: INFO

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,configprops,metrics

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

