spring:
  ai:
    mcp:
      server:
        enabled: true
  main:
    web-application-type: none
    banner-mode: off

logging:
  level:
    root: ERROR
    org.springframework: ERROR
    org.hibernate: ERROR

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  tracing:
    enabled: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

